/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My CSS */
.container {
    max-width: 50vw;
    margin: 0 auto;
}

/* Common */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

*,*::before, *::after {
    box-sizing: border-box;
}

/* Flex */
.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Header */
.navigation ul a {
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    padding-top: 10px;
    color: #FFFFFF;
    font-weight: 500;
}

.header_navigation {
    background-color: #2C3E50;
}

.padding {
    padding: 6% 0;
}

.heading {
    font-size: 70px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: #DFF5E1;
}

.sub_heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: #DFF5E1;
}

.linear {
    background: linear-gradient(#2D4E58, #4A987B);
}

/* Gallery */
.gallery_heading {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: #2C3E50;
    text-transform: uppercase;
}

.img {
    border-radius: 50%;
}

.box {
    width: 30%;
    margin: 10px;
    padding: 20px 60px;
}

.box_one {
    background-color: #BA4C63;
}

.box_two {
    background-color: #49A4B6;
}

.box_three {
    background-color: #130F0F;
}

.box_four {
    background-color: #2F83C1;
}

.box_five {
    background-color: #0F37B5;
}

.box_six {
    background-color: #CCB2A3;
}

/* About */
.about_header {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #DFF5E1;
    margin-bottom: 6%;
}

.second_container {
    max-width: 35vw;
    margin: 0 auto;
}

.flex_two {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
    text-align: left;
    padding: 0 2%;
    line-height: 1.7;
    font-size: 20px;
    color: #DFF5E1;
}

.btn {
    border: 1px solid black;
    background-color: #FFFFFF;
    color: #2C3E50;
    font-size: 18px;
    font-weight: 700;
    padding: 2% 5%;
    margin-left: 38%;
    margin-top: 6%;
}

/* Form */

input[type=text] {
    width: 100%;
    padding: 2% 0;
    margin: 1% 0;
    border-width: 0;
    border-bottom: 1px solid #130F0F;
}

input[type=email] {
    width: 100%;
    padding: 2% 0;
    margin: 1% 0;
    border-width: 0;
    border-bottom: 1px solid #130F0F;
}

input[type=number] {
    width: 100%;
    padding: 2% 0;
    margin: 1% 0;
    border-width: 0;
    border-bottom: 1px solid #130F0F;
}

input[type=submit] {
    margin-top: 8%;
    padding: 2% 2%;
    background-color: #326D5E;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 10px;
    border: #326D5E;
}

textarea {
    width: 100%;
    margin: 1% 0;
    border-width: 0;
    border-bottom: 1px solid #130F0F;
}

/* Map */
.mobile {
    overflow: hidden;
}

.section_map {
    background-color: #BDC7D2;
}

/* Table */
table {
    width: 100%;
    text-align: left;
}

tr:nth-child(odd) {
    background-color: #323C50;
}

tr:nth-child(even) {
    background-color: #2B3346;
}

td {
    padding: 2% 2%;
    font-size: 18px;
    font-weight: 500;
}

td:first-child {
    color: rgb(182, 84, 105);
}

th {
    color: rgb(32, 85, 113);
    font-size: 18px;
    font-weight: 500;
    background-color: #2B3346;
    padding: 2% 2%;
}

/* Social */
.social_header {
    color: #DFF5E1;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 6%;
    font-size: 22px;
}

.width {
    flex-basis: 20%;
    /* margin: 1.66%; */
}

.social_text {
    color: #DFF5E1;
    font-weight: 500;
    font-size: 18px;
}

.social_back {
    background-color: #2C3E50;
}

span {
    color: green;
}

/* Footer */
footer {
    background-color: #2D4E58;
    padding: 1%;
    text-align: center;
    font-size: 18px;
    color: #DFF5E1;
}

/* Mobile Version */
@media all and (min-width:320px) and (max-width: 1189px) {
    .desktop ul li {
        display: none;
        font-size: 0;
    }

    .for_mobile {
        display: flex;
        flex-direction: column;
        width: 170%;
    }

    .flex_two {
        flex-basis: 60%;
        padding: 10px 0;
    }
    
    .map_hide {
        display: none;
        font-size: 0;
    }

    .social_back {
        flex-direction: column;
    }
}